<%if false%>
<div>_new.html.erb rendered successfully</div>
<%end%>

<script type="text/javascript">
function setVideo(data) {
  var src_array = [];
  var name_array = [];  
  var feed = data.feed;
  var entries = feed.entry || [];
  $('#realtest').hide();
   $(entries).each(function(){
  	if(this.content.type == 'application/x-shockwave-flash'){
  		src_array.push(this.content.src);
  		name_array.push(this.title.$t);	
  	}
	var video_index = Math.floor(Math.random()*src_array.length);
	var good_video = false;
	var re = /best of|top/
	while(good_video == false){
  		var video_index = Math.floor(Math.random()*src_array.length);
  		if(re.test(name_array[video_index])){
  			src_array.splice(video_index, 1)
  		}
  		
  		else{
  			good_video = true
  		}
	}
	$('#main_video').attr({"src": src_array[video_index], "name": name_array[video_index]});


  });
  $.post("/videos", {hipster: 0, identifier: $('#main_video').attr("src"), name: $('#main_video').attr("name")}); 
    

}
</script>


<script 
    type="text/javascript" 
src='<%=@search_url%>'>
</script>